<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div class="logo-group">
        <a href="https://www.matxspace.com" target="_blank" class="logo-wrapper">
          <img src="/assets/logo.png" alt="Mat X Space logo" class="logo">
        </a>
        <span class="company-name">Blog</span>
      </div>

      <nav>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Inicio</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>